@import "../index.scss";

.edit-book-form-container {
  padding-top: 10px;
  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
    }
    input {
      padding: 3px;
      margin-top: 3px;
    }
    button {
      background-color: $green;
      color: $beigeLight;
      padding: 3px;
      margin-top: 5px;
      width: 70%;
      cursor: pointer;
    }
  }
}
